astroid==1.4.8
colorama==0.3.7
cssselect==1.0.0
cycler==0.10.0
docopt==0.6.2
isort==4.2.5
lazy-object-proxy==1.2.2
lxml==3.6.4
matplotlib==2.0.0b4
mccabe==0.5.2
nltk==3.2.2
numpy==1.11.3
pquery==1.4
pygame==1.9.3
pylint==1.6.4
pyparsing==2.1.9
pyquery==1.2.17
python-dateutil==2.5.3
pytz==2016.6.1
requests==2.12.5
six==1.10.0
vaderSentiment==2.5
wrapt==1.10.8
